<IfModule mod_rewrite.c>
    RewriteEngine On

    # Ignorer les fichiers dans le répertoire assets
    RewriteCond %{REQUEST_URI} !^/assets/

    # Rediriger les autres requêtes vers index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
